
<table class="tg">
<tbody>
  <% @rates.each do |rate| %>
    <tr>
      <td class="tg-0lax"><%= rate[:bank_name] %></td>
      <td class="tg-0lax"><%= rate[:first_year] %></td>
      <td class="tg-0lax"><%= rate[:second_year] %></td>
      <td class="tg-0lax"><%= rate[:third_year] %></td>
    </tr>
  <% end %>
</tbody>
</table>
